 .history{
	 BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #ffffff 1px solid; 
	 FONT-SIZE: 10pt; BORDER-LEFT: #ffffff 1px solid; WIDTH: 40px; 
	 COLOR: #000000; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 25px; 
	 BACKGROUND-COLOR: #f7f7f7;
	 position:relative;
	 left:5px;
	 top:12px;
	 }