<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>在线考勤系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <!--<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
    <!-- Ionicons -->
    <link rel="stylesheet" href="static/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="static/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="static/dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" type="text/css" href="http://www.keweisoft.com/statics/css/edus/head.css" >
   	<link rel="stylesheet" type="text/css" href="http://www.keweisoft.com/statics/css/edus/product.css" />
    <link rel="stylesheet" href="static/css/jquery-ui.css">
    <link rel="stylesheet" href="static/css/xxp.css">
    <style type="text/css">
    .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
	.ui-timepicker-div dl { text-align: left; }
	.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
	.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
	.ui-timepicker-div td { font-size: 90%; }
	.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
	.ui_tpicker_hour_label,.ui_tpicker_minute_label,.ui_tpicker_second_label,
	.ui_tpicker_millisec_label,.ui_tpicker_time_label{padding-left:20px}
	#wai{
		width:450px;
		height:30px;
		border:1px solid green;
		}
	#nei{
		width:0px;
		height:30px;
		background:green;
		}
	.history{
	    width:55px;
	    height:30px;
	}
	 #view{
		   width:230px;
		   height:44px; 
			  }
    </style>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="http://www.keweisoft.com/statics/js/edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://www.keweisoft.com/statics/js/edus/common.js"></script>
    <script type="text/javascript" src="http://www.keweisoft.com/statics/js/edus/pro-tab.js"></script>
    <![endif]-->
	<script type="text/javascript">
	  $(function(){
         $('#example_2').timepicker({});
      });
	</script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header">
        <!-- Logo -->
        <a href="user/home" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">在线考勤</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <input type="button"  class="history" value="返回" onclick="window.history.go(-1);">
            <input type="button"  class="history" value="前进" onclick="window.history.go(1);">
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Messages: style can be found in dropdown.less-->
                    <li class="dropdown messages-menu">
                        <!-- Menu toggle button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-envelope-o"></i>
                            <span class="label label-success">4</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">您有4条信息待处理</li>
                            <li class="footer"><a href="#">查看所有信息</a></li>
                        </ul>
                    </li>
                    <!-- /.messages-menu -->
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- The user image in the navbar-->
                            <img src="" class="user-image user_head_img" alt="User Image">
                            <!-- hidden-xs hides the username on small devices so only the image appears. -->
                            <span class="hidden-xs user_name"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-right">
                                    <a href="logout" class="btn btn-default btn-flat">退出系统</a>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="" class="img-circle  user_head_img" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p class="user_name"></p>
                    <!-- Status -->
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>


            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">

                <!-- Optionally, you can add icons to the links -->
                <li class="treeview" id="view">
	                    <a href="#"><i class="fa fa-link"></i> <span>我的考勤</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                    
                       <li class="treeview"> 
                       <a href="#"><span>数据导入</span>
                       <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#" data-toggle="modal" data-target="#excelImportDialog">指纹打卡数据</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#wechatImportDialog">微信打卡数据</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#leaveImportDialog">请假数据</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#overtimeImportDialog">加班数据</a></li>
                    </ul>
                       </li>
                       
                       
                        <li><a href="#" id="admin">打卡</a></li>
                         <li class="treeview"> 
                       <a href="#"><span>数据记录</span>
                       <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="attend" >每日考勤记录</a></li>
                        <li><a href="leave" >请假数据记录</a></li>
                        <li><a href="#" >加班数据记录</a></li>
                        <li><a href="month" >每月汇总数据</a></li>
                    </ul>
                       </li>
                       
                       
                       <li class="treeview"> 
                       <a href="#"><span>人员管理</span>
                       <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="user" >用户管理</a></li>
                        <li><a href="employee" >员工管理</a></li>
                    </ul>
                       </li>
                       
                       
                    <li class="treeview">
                    <a href="#"><span>排班管理</span>
                        <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#" data-toggle="modal" data-target="#timeAddDialog">添加班次</a></li>
                        <li><a href="attend">修改班次</a></li>
                    </ul>
                </li>
            </ul>
            
                    </ul>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
         <section class="content-header">
            <h1>
                     在线考勤管理    
                <small>
               自动化考勤，高效降低人力劳动，减轻负担，科技------让考勤变得更加简单
				</small>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content">
         <div class="m-content">
			<div class="pro-attTit">
				<div class="pro-attTit-top">
					科学、严谨的考勤—让学员的上课进程和老师的教学统计都尽在掌控之中，让教育培训机构无死角考勤管理不是梦。
				</div>	
				<div class="pro-attTit-bottom">
					系统考勤记录所有人每天、每周、每月的打卡信息，直观反映当月考勤日志，严谨、科学的考勤管理是机构、教师对每位学员关心入微的体现，同时也是学员课时消费的计量依据。
				</div>	
			</div>
         <div class="pro-attb1">
               <div class="pro-attb1-item1">
					<div class="pro-ai1-con">
						<p class="pro-attb1-tit">学员</p>
						<p class="pro-attb1-con">学员可以在学员考勤中查看自己的考勤情况，剩余课时，可对上一对一小班和一对多班课的学生来说进行智能打卡考勤。</p>
					</div>
				</div>
				<div class="pro-attb1-item2">
					<div class="pro-ai1-con">
						<p class="pro-attb1-tit">公司</p>
						<p class="pro-attb1-con">对于公司来说，通过员工打卡实现对员工的考勤管理，如果正常缺勤，事后可以协调给员工补工时，如果非正常，则按照违规考勤处理。</p>
					</div>
				</div>
				<div class="pro-attb1-item3">
					<div class="pro-ai1-con">
						<p class="pro-attb1-tit">学校</p>
						<p class="pro-attb1-con">学校也可通过考勤管理随时了解学生的课堂考勤情况，清晰了解学生上课动态。</p>
					</div>
				</div>				
			</div>
		</div>		
			<div class="m-content">
				<div class="clearfix"></div>
				<div class="pro-attCon1-right"></div>
				<div class="pro-attCon1-left">
					<p class="pro-alTit">一对一小班考勤管理</p>
					<p class="pro-alCon">一对一学员考勤主要是对学员学习期间上课情况的记录，根据学习状态确定学生是否准时来上课，系统可以提前提醒老师，学生是否来上课，避免企业承担风险，一对一培训考勤管理可为企业对预约学员上课情况的了解提供方便。</p>
				</div>
				<div class="clearfix"></div>
				<div class="pro-attCon2-left"></div>
				<div class="pro-attCon2-right">
					<p class="pro-alTit">班级考勤管理</p>
					<p class="pro-alCon">1、班级考勤管理是根据班级课程表对班级学员上课情况进行考勤记
					录，以方便教育培训机构对学员进行管理，在学员管理系统中便于家长对学员上课情况掌握。<br />
					<span class="pro-alCon-sub">2、根据上课日期可以对课程表数据进行列表显示。在进行考勤时可对学员签到、旷课、请假、迟到、早退等图标，可标识学员的考勤状态。</span>
					</p>					
				</div>
				<div class="clearfix"></div>
				<div class="pro-attCon3-right"></div>
				<div class="pro-attCon1-left">
					<p class="pro-alTit">学员请假管理</p>
					<p class="pro-alCon">1、学员可以登入学员端系统进行请假申请，教师对于学员的请假可以进行审批，家长能够通过系统随时查看学员请假原因。<br />
					<span class="pro-alCon-sub">2、学员、家长和教师都可以登入系统查看学员的请假情况，具体哪些课程请假，教师能够根据学员的请假课程对学员做一些相应的辅导，提高教学管理。</span>
					</p>
				</div>				
				<div class="clearfix"></div>
				<div class="pro-attCon4-left"></div>
				<div class="pro-attCon4-right">
					<p class="pro-alTit">教师考勤管理</p>
					<p class="pro-alCon">1、考勤管理记录辅导老师每天、每周、每月的考勤打卡信息，能够通过系统直观的了解每个人当月考勤日志。<br />
					<span class="pro-alCon-sub">2、管理人员还可通过系统考勤，统计带班费实现对教师工资绩效的管理。</span>
					</p>					
				</div>	
				<div class="clearfix"></div>
				<div class="pro-attLine"></div>


            <!-- Your Page Content Here -->

            <!-- Your Page Content Here -->

        </section>
        <!-- /.content -->
    </div>
    
       <!-- 班次添加对话框 -->
	<div class="modal fade" id="timeAddDialog" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">添加班次</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="add_user_form">
					<input type="hidden" id="delete_user_id" name="id"/>
						<div class="form-group">
							<label for="add_timeName" class="col-sm-2 control-label">班次名称</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="add_timeName" placeholder="名称"  name="name">
							</div>
						</div>
						<div class="form-group demo">
							<label for="add_attend" class="col-sm-2 control-label">上班时间</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="example_2" placeholder="上班时间"  name="morning">
							</div>
							
						</div>
						<div class="form-group">
							<label for="add_leave" class="col-sm-2 control-label">下班时间</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="add_leave" placeholder="下班时间" name="evening">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="addTime()">保存</button>
				</div>
			</div>
		</div>
	</div>
	  <!--指纹数据导入对话框 -->
	<div class="modal fade" id="excelImportDialog" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">指纹数据导入</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="form" enctype="multipart/form-data">
						<div class="form-group">
							<label for="add_timeName" class="col-sm-2 control-label">选择文件</label>
							<div class="col-sm-10">
								<input id="zhiwen" type="file" name="filename" accept="xlsx/xls" />
								<div id="wai">
							        <div id="nei"></div>
							    </div><span id="percent"></span><br/>
						        <div id="info"></div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="importExcel()">导入</button>
				</div>
			</div>
		</div>
	</div>
	<!--微信数据导入对话框 -->
	<div class="modal fade" id="wechatImportDialog" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">微信数据导入</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="wechatForm" enctype="multipart/form-data">
						<div class="form-group">
							<label for="add_timeName" class="col-sm-2 control-label">选择文件</label>
							<div class="col-sm-10">
								<input id="weixin" type="file" name="filename"  accept="xlsx/xls" />
								<div id="wai">
							        <div id="nei"></div>
							    </div><span id="percent1"></span><br/>
						        <div id="info1"></div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="wechatExcel()">导入</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<!--请假数据导入对话框 -->
	<div class="modal fade" id="leaveImportDialog" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">请假数据导入</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" id="leaveForm" enctype="multipart/form-data">
						<div class="form-group">
							<label for="add_timeName" class="col-sm-2 control-label">选择文件</label>
							<div class="col-sm-10">
								<input id="qingjia" type="file" name="filename"  accept="xlsx/xls" />
								<div id="wai">
							        <div id="nei"></div>
							    </div><span id="percent1"></span><br/>
						        <div id="info2"></div>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="button" class="btn btn-primary" onclick="leaveExcel()">导入</button>
				</div>
			</div>
		</div>
	</div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <strong>Copyright &copy; 2018 <a href="#">在线考勤</a>.</strong> All rights reserved.
    </footer>

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="static/jquery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="static/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="static/dist/js/app.min.js"></script>
<script src="static/js/user.js"></script>
<script type="text/javascript" src="static/js/jquery-ui-slide.min.js"></script>
<script type="text/javascript" src="static/js/jquery-ui.js"></script>
<script type="text/javascript" src="static/js/jquery-ui-timepicker-addon.js"></script>



<script>
         var totalSize = 0;  
        //绑定所有type=file的元素的onchange事件的处理函数  
         $('#zhiwen').change(function() {  
             var file = this.files[0]; //假设file标签没打开multiple属性，那么只取第一个文件就行了  
              if (file) {
			   var fileSize = 0;
			   if (file.size > 1024 * 1024)
			   size = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
			   else
			   size = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
			   }
             name = file.name;  
             type = file.type;  
              
             totalSize += size;  
             $("#info").html("文件名：" + name + "<br>文件类型：" + type + "<br>文件大小：" + size); 
         });  
         $('#weixin').change(function() {  
             var file = this.files[0]; //假设file标签没打开multiple属性，那么只取第一个文件就行了  
              if (file) {
			   var fileSize = 0;
			   if (file.size > 1024 * 1024)
			   size = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
			   else
			   size = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
			   }
             name = file.name;  
             type = file.type;  
             totalSize += size;  
             $("#info1").html("文件名：" + name + "<br>文件类型：" + type + "<br>文件大小：" + size); 
         });  
         $('#qingjia').change(function() {  
             var file = this.files[0]; //假设file标签没打开multiple属性，那么只取第一个文件就行了  
              if (file) {
			   var fileSize = 0;
			   if (file.size > 1024 * 1024)
			   size = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
			   else
			   size = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';
			   }
             name = file.name;  
             type = file.type;  
             totalSize += size;  
             $("#info2").html("文件名：" + name + "<br>文件类型：" + type + "<br>文件大小：" + size); 
         });  
         
         
         
    function progressHandlingFunction(e) {  
            if (e.lengthComputable) {  
                  var percent = e.loaded/e.total*100;  
		          $('#nei').style.width=percent+'%';
		          $('#precent').innerHTML=Math.floor(percent)+'%';
             }  
        }  
         
    function importExcel(){
	     var excel_file = $("#zhiwen").val();  
	          if (excel_file == "" || excel_file.length == 0) {  
	              alert("请选择文件！");  
	              return false;  
	          } else { 
	          var form = new FormData(document.getElementById("form"));
	            $.ajax({
                    type:"POST",
                    url:"excelImport",
                    data:form, 
                    processData:false,
                    contentType:false,
                    xhr: function(){ 
				        myXhr = $.ajaxSettings.xhr();
				          //获取ajaxSettings中的xhr对象，为它的upload属性绑定progress事件的处理函数
				        if(myXhr.upload){
				            //绑定progress事件的回调函数
				            myXhr.upload.addEventListener('progress',progressHandlingFunction, false);
				        }
				        //xhr对象返回给jQuery使用
				        return myXhr; 
			                      },
                    success:function (data) {
                        if(data="importSuccess"){
                        alert("导入成功");
                        window.location.reload();
                        }else{
                        alert("导入失败");
                        }
                              },
                   error:function(e){
                    alert("上传发生错误！！");
                    window.clearInterval(timer);
                }
                });
	             return true;  
	             get();
	          }  
          }
          
          
    function wechatExcel(){
	     var excel_file = $("#weixin").val();  
	          if (excel_file == "" || excel_file.length == 0) {  
	              alert("请选择文件！");  
	              return false;  
	          } else { 
	          var form = new FormData(document.getElementById("wechatForm"));
	            $.ajax({
                    type:"POST",
                    url:"wechatImport",
                    data:form,
                    processData:false,
                    contentType:false,
                    success:function (data) {
                        if(data="importSuccess"){
                        alert("导入成功");
                        window.location.reload();
                        }else{
                        alert("导入失败");
                        }
                              },
                   error:function(e){
                    alert("上传发生错误！！");
                    window.clearInterval(timer);
                }
                });
	             return true;  
	             get();
	          }  
          }
          
          
     function leaveExcel(){
	     var excel_file = $("#qingjia").val();  
	          if (excel_file == "" || excel_file.length == 0) {  
	              alert("请选择文件！");  
	              return false;  
	          } else { 
	          var form = new FormData(document.getElementById("leaveForm"));
	            $.ajax({
                    type:"POST",
                    url:"leaveImport",
                    data:form,
                    processData:false,
                    contentType:false,
                    success:function (data) {
                    	console.log(data);
                        if(data="importLeave"){
                        alert("导入成功");
                        window.location.reload();
                        }else{
                        alert("导入失败");
                        }
                              },
                   error:function(e){
                    alert("上传发生错误！！");
                    window.clearInterval(timer);
                }
                });
	             return true;  
	             get();
	          }  
          }
          
          
          
     function addTime() {
	     $.ajax({
	                    type:"POST",
	                    url:"attend/addTime",
	                    success:function (data) {
	                        if(data=="attendSuccess"){
	                         alert("打卡成功");
	                         }
	                              }   
	                });
   };
   
    
    $("#admin").click(function () {
         $.ajax({
                    type:"POST",
                    url:"attend/sign",
                    success:function (data) {
                        if(data=="attendSuccess"){
                         alert("打卡成功");
                         }
                              }   
                });
   });


</script>
</body>
</html>
