<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>设置我的资料</title>
    <script src="static/layui/layui.js"></script>
	<link rel="stylesheet" href="static/layui/css/layui.css">
	<style type="text/css">
		.header{
			border:0.1px solid #EEEEE0;
		}
		.footer{
			border:0.1px solid #EEEEE0;
			padding:30px
		}
		span{
			  line-height:50px;
			  padding-left:12px;   
			}
	</style>
</head>

<body >
	<div class="header">
		<div class="header">
		<span>修改密码</span>
		</div>
		<div class="footer">
		<form class="layui-form" action="">
		 <div class="layui-form-item">
		    <label class="layui-form-label">当前密码</label>
		    <div class="layui-input-inline">
		      <input type="password" name="password" required lay-verify="required"  autocomplete="off" class="layui-input">
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">新密码</label>
		    <div class="layui-input-inline">
		      <input type="password" name="password" required lay-verify="required"  autocomplete="off" class="layui-input">
		    </div>
		    <div class="layui-form-mid layui-word-aux">6到16个字符</div>
		  </div>
		  <div class="layui-form-item">
		    <label class="layui-form-label">确认新密码</label>
		    <div class="layui-input-inline">
		      <input type="password" name="password" required lay-verify="required"  autocomplete="off" class="layui-input">
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit lay-filter="formDemo">确认修改</button>
		    </div>
		  </div>
		</form>
	</div>
</div>
<script>
		//Demo
		layui.use('form', function(){
		  var form = layui.form;
		  
		  //监听提交
		  form.on('submit(formDemo)', function(data){
		    layer.msg(JSON.stringify(data.field));
		    return false;
		  });
		});
</script>
</body>

</html>
